---
import BoxPlatform from "../components/BoxPlatform.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <section class="hero bg-[url(/fondo-mazo-de-juez-claro.jpg)] dark:bg-[url(/fondo-mazo-de-juez-oscuro.jpg)] bg-cover bg-center bg-no-repeat py-24 px-4 md:px-8 lg:px-12" id="bienvenida">
    <h1 class="text-gray-900 dark:text-white text-3xl font-bold pt-0 mb-6">Bienvenido</h1>
    <div class="text-gray-500 dark:text-gray-300">
      <p>
        Los sistemas de información son fundamentales para gestionar datos, tomar
        decisiones estratégicas y mejorar la prestación de servicios públicos en
        un mundo cada vez más digitalizado.
      </p>
      <p>
        La impartición de justicia moderna requiere plataformas digitales
        accesibles que permitan tanto a ciudadanos como funcionarios realizar
        trámites, consultar y dar seguimiento a los procesos judiciales de manera
        eficiente y transparente.
      </p>
      <p>
        En el <strong class="text-gray-800 dark:text-white">Poder Judicial del Estado de Coahuila de Zaragoza</strong>
        alentamos y promovemos la innovación. Gracias a las herramientas digitales
        hoy la justicia es más accesible a la ciudadanía.
      </p>
      <div class="flex flex-col sm:flex-row gap-2 mt-4">
        <a href="/privacy_policy" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-500 transition">Aviso de privacidad</a>
        <a href="/service_terms" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-500 transition">Políticas de Uso</a>
        <a href="/contact" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-500 transition">Contacto</a>
      </div>
    </div>
  </section>
  <section class="bg-gray-200 text-black dark:bg-gray-700 dark:text-gray-200 py-24 px-4 md:px-8 lg:px-12" id="plataformas">
    <h1 class="text-gray-900 dark:text-white text-3xl font-bold pt-0 mb-6">Plataformas</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <BoxPlatform
        title="Plataforma Web"
        description="Gestión de la información interna y externa, como descargar recibos de nómina y crear tickets de soporte técnico."
        url="/plataforma_web"
      />
      <BoxPlatform
        title="Sistema de Citas"
        description="Agendar citas en las oficinas y juzgados del Poder Judicial."
        url="/sistema_citas"
      />
      <BoxPlatform
        title="Portal de Notarías"
        description="Gestión de la publicación de edictos, por parte de las Notarías, en el sitio web."
        url="/portal_notarias"
      />
      <BoxPlatform
      title="Trámites y Servicios"
      description="Realizar el pago de los trámites y servicios por banca electrónica."
      url="https://www.pjecz.gob.mx/tramites-y-servicios/"
      />
      <BoxPlatform
        title="Plataforma del Archivo Judicial"
        description="Consulta de documentos y entrega de remesas al Archivo Judicial General."
        url="/plataforma_archivo_judicial_general"
      />
      <BoxPlatform
        title="Plataforma Orión"
        description="Administración de los expedientes del personal."
        url="/plataforma_orion"
      />
    </div>
  </section>
  <section class="hero py-24 px-4 md:px-8 lg:px-12" id="datos-abiertos">
    <h1 class="text-gray-900 dark:text-white text-3xl font-bold pt-0 mb-6">Datos Abiertos</h1>
    <div class="text-gray-500 dark:text-gray-300">
      <p>
        El Poder Judicial del Estado de Coahuila de Zaragoza promueve la transparencia
        y el acceso a la información pública mediante la publicación de conjuntos
        de datos abiertos en formatos accesibles y reutilizables.
      </p>
      <p>
        Estos datos abarcan diversas áreas, como estadísticas judiciales, presupuestos,
        sentencias y otros aspectos relevantes para la ciudadanía.
      </p>
      <p>
        Al proporcionar estos datos, el Poder Judicial fomenta la participación ciudadana,
        facilita la investigación y contribuye a una mayor rendición de cuentas.
      </p>
    </div>
  </section>
</DefaultLayout>

