---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <section class="hero">
    <h1 class="text-gray-900 dark:text-white text-3xl font-bold pt-0 mb-6">Bienvenido</h1>
    <div class="text-gray-500 dark:text-gray-400">
      <p>
        Los sistemas de información son fundamentales para gestionar datos, tomar
        decisiones estratégicas y mejorar la prestación de servicios públicos en
        un mundo cada vez más digitalizado.
      </p>
      <p>
        La impartición de justicia moderna requiere plataformas digitales
        accesibles que permitan tanto a ciudadanos como funcionarios realizar
        trámites, consultar y dar seguimiento a los procesos judiciales de manera
        eficiente y transparente.
      </p>
      <p>
        En el <strong class="text-gray-800 dark:text-white">Poder Judicial del Estado de Coahuila de Zaragoza</strong>
        alentamos y promovemos la innovación. Gracias a las herramientas digitales
        hoy la justicia es más accesible a la ciudadanía.
      </p>
    </div>
  </section>
</DefaultLayout>
