---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        <strong><a href="https://www.pjecz.gob.mx">Poder Judicial del Estado de Coahuila de Zaragoza</a></strong>
      </p>
      <p>
        Todos los Derechos Reservados &copy; {currentYear}.
      </p>
      <p>
        Starter Theme para <a href="https://astro.build/">Astro</a>
        hecho por <a href="https://github.com/markteekman">Mark Teekman</a>.
      </p>
    </div>
  </section>
</footer>
