---
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";
import { Image } from 'astro:assets';
import logoLight from "../assets/img/pjecz-escudo-negro.png";
import logoDark from "../assets/img/pjecz-escudo-blanco.png";
---

<header class="lg:flex p-5 gap-5 bg-gray-200 dark:bg-gray-900 text-gray-700 dark:text-gray-300">
  <Astronav>
    <div class="flex w-full justify-between font-medium">
      <a href="/" class="flex items-center gap-2 !no-underline">
        <Image class="block dark:hidden" src={logoLight} alt="PJECZ Justicia Digital" width="120" />
        <Image class="hidden dark:block" src={logoDark} alt="PJECZ Justicia Digital" width="120" />
        Poder Judicial del Estado de Coahuila de Zaragoza
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-700 dark:text-gray-300" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        <li>
            <a href="/contact">Contacto</a>
        </li>
        <li>
            <a href="/privacy_policy">Aviso de Privacidad</a>
        </li>
        <li>
            <a href="/service_terms">Políticas de Uso</a>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</header>
