---
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";
import { Image } from 'astro:assets';
import logo from "../assets/img/logo.svg";
---

<header class="bg-gray-200 dark:bg-gray-900 text-gray-700 dark:text-gray-300 lg:flex p-4 md:p-8 lg:p-12 gap-5">
  <Astronav>
    <div class="flex items-center w-full justify-between font-medium">
      <a href="/" class="flex items-center gap-2 !no-underline">
        <Image src={logo} alt="PJECZ Justicia Digital" width="50" />
        PJECZ Justicia Digital
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800 dark:text-gray-200" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        <li>
            <a href="/contact">Contacto</a>
        </li>
        <li>
            <a href="/privacy_policy">Aviso de Privacidad</a>
        </li>
        <li>
            <a href="/service_terms">Políticas de Uso</a>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</header>
