---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/privacy_policy">Aviso de Privacidad</a>
    </li>
    <li class="menu-item">
      <a href="/service_terms">Políticas de Uso</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Plataformas</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="https://plataforma-web.justiciadigital.gob.mx/" target="_blank">Plataforma Web</a>
        </li>
        <li class="submenu-item">
          <a href="https://archivo-judicial-general.justiciadigital.gob.mx/" target="_blank">Plataforma Archivo Judicial General</a>
        </li>
        <li class="submenu-item">
          <a href="https://orion.justiciadigital.gob.mx/" target="_blank">Plataforma Orión</a>
        </li>
        <li class="submenu-item">
          <a href="https://notarias.justiciadigital.gob.mx/" target="_blank">Portal de Notarías</a>
        </li>
        <li class="submenu-item">
          <a href="https://citas.justiciadigital.gob.mx/" target="_blank">Sistema de Citas</a>
        </li>
        <li class="submenu-item">
          <a href="https://www.pjecz.gob.mx/tramites-y-servicios/" target="_blank">Trámites y Servicios</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="/contact">Contacto</a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://github.com/PJECZ" title="Go to the GitHub page">
        <Icon name="ion:logo-github" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
