---
import { Image } from 'astro:assets';
import imgDigitalLegal from '../assets/img/digital-legal.jpg';
---

<section class="hero my-12">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-6xl">
          <slot>Bienvenido</slot>
        </h1>
        <p>
          Los sistemas de información son fundamentales para gestionar datos,
          tomar decisiones estratégicas y mejorar la prestación de servicios públicos
          en un mundo cada vez más digitalizado.
        </p>
        <p>
          La impartición de justicia moderna requiere plataformas digitales accesibles
          que permitan tanto a ciudadanos como funcionarios realizar trámites,
          consultar y dar seguimiento a los procesos judiciales de manera eficiente y transparente.
        </p>
      </div>
      <img class="rounded-lg hidden lg:block" src={imgDigitalLegal.src} alt="" decoding="async" />
    </div>
  </div>
</section>
